<div class="jumbotron">

<h1>Welcome to the Robust Application Strategy Planner</h1>
<h3>Brought to you by Small Town Top College, LLC</h3>

I see it quite often when helping students. Once that dream school has been found, it’s easy to latch on and think that it’s the only place for you.

&nbsp;

Sadly, when you are going for the top colleges in the country, an approach like this very often leads to disappointment.

[caption id="attachment_753" align="aligncenter" width="298"]<a href="http://smalltowntopcollege.com/wp-content/uploads/2016/01/biker300.png"><img class="wp-image-753 size-medium" src="http://smalltowntopcollege.com/wp-content/uploads/2016/01/biker300-298x300.png" alt="Don't put all your eggs in one basket during the college process!" width="298" height="300" /></a> Don't put all your eggs in one basket during the college process![/caption]

Let’s take a look at some statistics from four schools I’ve pulled from the pool of top colleges.

&nbsp;
<table>
<tbody>
<tr>
<td width="184"><strong>University</strong></td>
<td width="184"><strong>Applicants</strong></td>
<td width="184"><strong>Admission Percentage</strong></td>
</tr>
<tr>
<td width="184">Columbia</td>
<td width="184">36,250</td>
<td width="184">6.1%</td>
</tr>
<tr>
<td width="184">Princeton</td>
<td width="184">27,290</td>
<td width="184">7.1%</td>
</tr>
<tr>
<td width="184">The Julliard School</td>
<td width="184">2,854</td>
<td width="184">6.7%</td>
</tr>
<tr>
<td width="184">University of Chicago</td>
<td width="184">30,162</td>
<td width="184">7.8%</td>
</tr>
</tbody>
</table>
While you might have your heart set on spending your next four years pretending to be Harry Potter at Princeton’s beautiful campus, it’s important to look at the data. With acceptance rates under 10% for all of these example schools, it would be ill-advised to put all of your acceptance eggs into one basket.

&nbsp;

Furthermore, just because one top college sends you a letter turning you down, it definitely doesn’t mean others will. Each year, the top colleges have to make incredibly difficult decisions. A very large percentage (much higher than 8%) of the 18,000 applicants to MIT would do well at the institute if they were accepted. But due to the huge volume of applicants, the MIT admissions officers have the task to build a class out of a huge number of qualified candidates, while also turning down equally qualified candidates.

&nbsp;

Here’s the tough truth:

&nbsp;
<h3>Getting into a top college involves a lot of luck.</h3>
&nbsp;

It sucks, but that’s the way the system works right now. The great news is that there are a lot of amazing colleges. Even though it’s a lot of work, my advice is simple:

&nbsp;
<h3>Apply to as many as you can!</h3>
&nbsp;

What better way to increase your luck than to put more tickets in the raffle? Here’s a reproduction of my college plan, and I would highly suggest that you come up with something similar.

<a href="http://smalltowntopcollege.com/wp-content/uploads/2016/01/IMG_4789.jpg" rel="attachment wp-att-546"><img class="aligncenter wp-image-546 size-large" src="http://smalltowntopcollege.com/wp-content/uploads/2016/01/IMG_4789-e1453951077640-768x1024.jpg" alt="Pat's College Plan" width="768" height="1024" /></a>

At the time when I received my acceptance letter from MIT, I had applications for all of my “reach schools” ready to send in. I had also been preparing to fill out the applications for my “secondary schools.” AND I had already been accepted (verbally or officially) to Texas A&amp;M, Stevens Institute of Technology, and Colorado School of Mines.

&nbsp;
<h3>I was fully ready to get rejected by MIT.</h3>
&nbsp;

And if I had been rejected, I would have been bummed of course, but I simply would have simply gone forward with my plan. Something was going to work out, and I was going to have a great college experience.

&nbsp;

This is why while I advocate having a dream school, realize that it’s not the only school that you will love. Don’t hold on too tightly to the idea, as your other applications will begin to lose their potency. As many amazing memories as I have at MIT, I’m sure that if I’d gone to any of the other schools on my list, I’d have equally great ones.
<blockquote>“Trust your luck, Taran Wanderer. But don't forget to put out your nets!”
― Lloyd Alexander, Taran Wanderer</blockquote>
Be aggressive in your college search. Be flexible, open minded, and cast a wide net.

&nbsp;

<hr />

&nbsp;

As always, I’d love to hear from you, and I will answer any question I can. Hit me up in the comment section down below or on twitter @pedayton.

Thanks to Steve Sullivan for the cartoon.
<h5 class="p2"></h5></div>