<div class='title'><h1>Instructions</h1></div>

<h3>1. Search Colleges</h3>
<p>Navigate to the search tab and search for a college you want to add to your dashboard.</p>
<br>

<h3>2. Add Colleges</h3>
<p>Click the blue favorite button on each college you want to add to your dashboard.</p>
<br>

<h3>3. Arrange College Cards</h3>
<p>Navigate to the dashboard tab and move the cards among the tiers by using the selection menus and buttons.</p>
<br>

<h3>4. Notes and Use Checkboxes</h3>
<p>Click on the name on the college card to navigate to the note and checklist page. Use the checklist to guide your progress through the application process. Use the notes module to keep track of everything you learn along the way</p>
<br>