<h1>My Favorite Colleges</h1>

<% @colleges.each do |college| %>
	<%= link_to(college.name, college )%> | 
        <%= link_to 'Delete', college,
                method: :delete, data: {confirm: 'Are you sure?'} %> |
        <%= link_to 'Notes', college_notes_path(college.id) %>
	<hr>
<% end %>
<%= link_to 'Back', :back %>

