<h1>My Favorite Colleges</h1>

<% @colleges.each do |college| %>
	<%= link_to(college.name, college )%> | 
        <%= link_to 'Delete', college,
                method: :delete, data: {confirm: 'Are you sure?'} %> |

	<hr>
<% end %>
<%= link_to 'Back', :back %>
<br>

<div>
	<div class="col-md-8">
		<div class="well dashboard-left" id="gold">			
			<h3>Reach Schools</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem amet dolorem dicta veniam quis numquam molestias magni, eveniet ipsum, nemo, at placeat quia corrupti ipsa repellat a, quos velit aut.</p>
		</div>
		<div class="well dashboard-left" id="silver">			
			<h3>Primary Tier</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem amet dolorem dicta veniam quis numquam molestias magni, eveniet ipsum, nemo, at placeat quia corrupti ipsa repellat a, quos velit aut.</p>
		</div>
		<div class="well dashboard-left" id="bronze">			
			<h3>Secondary Tier</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
			<br>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem amet dolorem dicta veniam quis numquam molestias magni, eveniet ipsum, nemo, at placeat quia corrupti ipsa repellat a, quos velit aut.</p>
		</div>
		<div class="well dashboard-left" id="fourth">			
			<h3>Tertiary Tier</h3>
				<div class="well" style="width:50%;">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>
				<div class="well" style="width:50%;">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="well dashboard-right" id="other">
				<h3>Unplaced Colleges</h3>
				<div class="well">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>
				<div class="well">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>
				<div class="well">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>				
				<div class="well">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>
				<div class="well">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur harum quis, quasi aliquam quibusdam pariatur, cupiditate nemo ratione, culpa modi distinctio expedita excepturi neque accusamus animi voluptatem id deleniti eveniet?</p>
				</div>				
		</div>
	</div>
</div>





