<h1>Massive Amounts of College Data</h1>
<p><strong>College: </strong><%= @college["name"] %></p>
<!-- Can't use dot notation here @college.name because it's a hash not an object -->
<p><strong>Country: </strong><%= @college["country"] %></p>


<!-- LIST NOTES -->
<% if @college.notes.length > 0 %>
	<h1>Notes</h1>
<% end %>
<% @college.notes.each do |note| %>
	<%= note.created_at.to_s+ ":  " +note.body %> <br>
<% end %>

<br>
<%= render 'colleges/form' %>