.well{
  border-color: black;
  background-color: #FAF0E6;
}

.center{
  text-align: center;
}

.middle{
  vertical-align: middle;
}

.checked_green{
  background-color: green;
}


.tier-box{
  border: 0px;
  background-color: transparent;
  box-shadow: none;
}

#dash_title{
  text-align: center;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom-left-radius: 5px; */
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.update-college button {
  background: none;
  border: none;
  display: inline;
}

.update-college-h4 {
  display: inline;
}

.update-college-inputs {
  display: inline-block;
}

.update-college {
  display: inline;
}

.progress {
  clear: both;
}

.h4-trash-undo {
  float: left;
}

.no-outline{
  border-style: dashed;
}

.btn.btn-custom{
  background-color: rgba(0,0,0,0);
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 15px;
}

.btn.btn-custom:hover{
  background-color: #EDDFBB;
} 

.btn.btn-custom-danger{
  background-color: #167F39;
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px 15px;
}

.btn.btn-custom-danger:hover{
  background-color: #A32B33;
} 

.btn.btn-success{
  padding: 15px;
}

.text-field{
  background-color: #FAEBD7;
  border-radius: 15px;
  padding: 20px;
  border: 1px solid black;
  box-shadow: none;
}


.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
