.well{
  border-color: black;
  background-color: #FAF0E6;
}

.center{
  text-align: center
}

.checked_green{
  background-color: green;
}

.center_it{
  text-align: center;
}

.tier-box{
  border: 0px;
  background-color: transparent;
  box-shadow: none;
}

#dash_title{
  text-align: center;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom-left-radius: 5px; */
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.update-college button {
  background: none;
  border: none;
  display: inline;
}

.update-college-h4 {
  display: inline;
}

.update-college-inputs {
  display: inline-block;
  float: left;
}

.progress {
  clear: both;
}

.h4-trash-undo {
  float: left;
}

.no-outline{
  border-style: dashed;
}
