.well{
  border-color: black;
  background-color: #FAF0E6;
}

.checked_green{
  background-color: green;
}

.center_it{
  text-align: center;
}
/*
#gold{
  background-color: #D9A441;
}

#silver{
  background-color: #A8A8A8;
}

#bronze{
  background-color: #965A38;
}

#fourth{
  background-color: #CCC2C2;
}

#other{
  background-color: #6FA8E0;
}*/

#dash_title{
  text-align: center;
}

.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;   
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;   
}

.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* border-bottom-left-radius: 5px; */
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}