.title{
	text-align: center;
}

.center{
	text-align: center;
}

table, img {
  border: 0;
  border-style: solid;
	border-collapse: collapse;
	border-width: 3px;
	text-align: center;
	margin: 0px auto;
}

table td, table th {
    border: 3px solid black;
}

.img-med{
	width: 50%;
	height: 50%;
}

.link{
	color: #7B5139;
}

.jumbotron {
	background: none;
}

/*.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 100px;
    padding-right: 100px;
}*/

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}